.navbar{
    display: flex;
    justify-content:space-around ;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;

}
.nav-logo{
    display:flex;
    align-items: center;
    gap: 10px;

}
 .nav-menu{
    display: flex;
    align-items:center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;

 }
 .nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 3px;
    cursor: pointer;

 }
 .nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(117, 60, 91);
 }
 .nav-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

 }
 .cart {
    position: relative;
    /* padding-right: 20px; */
  }
 .nav-cart-count{
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -40px;
    margin-left: 22px;
    border-radius: 8px;
    font-size: 7px;
    background-color: red;
    color: white;

 }
